<!DOCTYPE html>
<html>
<head>
  <title>Pictures</title>
  <%= stylesheet_link_tag    "pictures/application", media: "all" %>
  <%= javascript_include_tag "pictures/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
