$primary-color: #3498db;
$main-font-size: 14px;

.content-custom {
  font-size: $main-font-size;
  article {
    blockquote {
      p {
        font-style: italic;
        font-size: 13px;
        text-indent: 0;
      }
    }
    p {
      text-indent: 25pt;
    }
  }
}

.google-calendar {
  iframe {
    display: block;
    margin: 0 auto;
    background: #fff image-url('ajax-loader.gif') no-repeat 50% 50% !important;
  }
}

.primary-background-color {
  background-color: $primary-color;
}

.inline-radio-buttons {
  label {
    vertical-align: middle;
    line-height: 50px;
  }
  span {
    display: inline-block;
    padding-left: 10px;
  }
}
