@import 'unify/unify-core';
@import 'unify/unify-components';
@import 'unify/unify-globals';
@import 'unify/style';
@import 'unify/headers/header-v5';
@import 'unify/footers/footer-v1';
@import 'unify/theme-colors/blue';
@import 'unify/plugins/sky-forms-pro/skyforms/css/sky-forms';
@import 'unify/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms';
@import 'unify/plugins/cubeportfolio/cubeportfolio';
@import 'unify/plugins/cubeportfolio/custom-cubeportfolio';
@import 'unify/pages/page_contact';
@import 'unify/pages/page_job_inner';

$primary-color: #3498db;

.interactive-slider-custom {
  background-image: image-url('listvytsia-home.jpg');
  background-position: center center;
  background-size: cover;
  background-color: #97C2EC;
  &:after {
    background: rgba(0, 0, 0, 0.15);
  }
}

.navbar-brand {
  &.logo-link {
    line-height: 40px;
    font-size: 30px;
    &:hover {
      color: $primary-color;
    }
  }
}
.padding-bottom-0 {
  padding-bottom: 0;
}
.map-high {
  height: 420px;
}
.map-middle {
  height: 240px;
}

.topbar-v3 {
  .right-topbar {
    li {
      text-transform: none;
    }
  }
}

.cbp a:hover {
  text-decoration: underline;
}

.none-style-list {
  ul {
    list-style: none;
    padding-left: 0
  }
}

li.menu-dropdown-opened {
  .dropdown.open {
    .dropdown-menu {
      display: block;
    }
  }
}

.menu-dropdown-link {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 32px;
  padding: 23px 1px 24px;
  display: inline-block;
}

.menu-dropdown-link:hover {
  text-decoration: none;
}

.menu-dropdown-button {
  padding: 0px 3px;
  position: inherit;
  vertical-align: inherit;
}

@media screen and (min-width: 992px) {
  .header-v5 .navbar-default .navbar-nav > li > a {
    line-height: 29px;
    padding: 23px 5px 24px;
  }
}
