@import 'unify/style';
@import 'unify/headers/header-v5';
@import 'unify/footers/footer-v1';
@import 'unify/theme-colors/blue';
@import 'unify/plugins/sky-forms-pro/skyforms/css/sky-forms';
@import 'unify/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms';
@import 'unify/plugins/cubeportfolio/cubeportfolio';
@import 'unify/plugins/cubeportfolio/custom-cubeportfolio';
@import 'unify/pages/page_contact';
@import 'unify/pages/page_job_inner';

$primary-color: #3498db;

.interactive-slider-custom {
  background-image: image-url('listvytsia-home.jpg');
  background-position: center center;
  background-size: cover;
  background-color: #97C2EC;
  &:after {
    background: rgba(0, 0, 0, 0.15);
  }
}

.navbar-brand {
  &.logo-link {
    line-height: 40px;
    font-size: 30px;
    &:hover {
      color: $primary-color;
    }
  }
}
.padding-bottom-0 {
  padding-bottom: 0;
}
.map-high {
  height: 420px;
}

.topbar-v3 {
  .right-topbar {
    li {
      text-transform: none;
    }
  }
}

.cbp a:hover {
  text-decoration: underline;
}

