.footer
  .container
    .row
      .col-md-3.md-margin-bottom-40
        br
        br
        p= t('.about_1')
        p= t('.about_2')
      .col-md-3.md-margin-bottom-40
        .posts
          .headline
            h2= t('.latest_posts')
          ul.list-unstyled.latest-list
            - AppComponent::Page.latest(5).each do |page|
              li
                = link_to page.title, page
                small
      .col-md-3.md-margin-bottom-40
        .headline
          h2= t('.useful_links')
        ul.list-unstyled.link-list
          li
            = link_to t('layouts.header.timetable'), timetable_path
            i.fa.fa-angle-right
          li
            = link_to t('layouts.header.seminar'), seminar_path
            i.fa.fa-angle-right
          li
            = link_to t('layouts.header.articles'), articles_path
            i.fa.fa-angle-right
          li
            = link_to t('layouts.header.events'), events_path
            i.fa.fa-angle-right
          li
            = link_to t('layouts.header.donate'), donate_path
            i.fa.fa-angle-right
          li
            = link_to t('layouts.header.contacts'), contacts_path, data: { no_turbolink: true }
            i.fa.fa-angle-right
      .col-md-3.md-margin-bottom-40
        .headline
          h2= t('.contacts')
        address.md-margin-bottom-40
          = t('.address')
          br
          = "#{t('.phone.title')}: #{t('.phone.value')}"
          br
          = "#{t('.email.title')}:"
          a<[href="mailto:#{t('.email.value')}"]= t('.email.value')
