.hotels-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.hotels-flex-item {
  width: 350px;
  height: 400px;
  margin: 0;
  flex-grow: 0;
  flex-shrink: 100;
}
