| Array.prototype.slice.call(document.getElementsByTagName('IFRAME')).forEach(element => {
|   if (element.src.indexOf('www.google.com/recaptcha') > -1 && element.parentNode) {
|     element.parentNode.removeChild(element);
|   }
| });
- if @contact_form.errors.any?
  | $('#contact-form').html("#{escape_javascript(render 'contact_form')}");
- else
  | $('#contact-form').html("#{escape_javascript(render 'thank_you_notice')}");
