$primary-color: #3498db;

.content-custom {
  font-size: 14px;
}

.google-calendar {
  iframe {
    display: block;
    margin: 0 auto;
    background: #fff image-url('ajax-loader.gif') no-repeat 50% 50% !important;
  }
}
