@import 'unify/style';
@import 'unify/headers/header-v5';
@import 'unify/footers/footer-v1';
@import 'unify/theme-colors/blue';
@import 'unify/plugins/sky-forms-pro/skyforms/css/sky-forms';
@import 'unify/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms';
@import 'unify/pages/page_contact';

$primary-color: #3498db;

.interactive-slider-custom {
  background: asset_url('listvytsia-home.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #97C2EC;
  &:after {
    background: rgba(0, 0, 0, 0.15);
  }
}

.content-custom {
  font-size: 14px;
}

.navbar-brand {
  &.logo-link {
    line-height: 40px;
    font-size: 30px;
    &:hover {
      color: $primary-color;
    }
  }
}